.shop-container{

display: grid;
grid-template-columns: 4fr 1fr;

}

.product-container{

    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 25px 0px;
    margin-left: 20px;
}





